@import '../../assets/styles/helpers.scss';

.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: $time-transition;
}
