$white: #ffffff;

$gray: #b3b8ba;
$gray-1: #f4f4f4;
$gray-2: #fcfcfc;
$gray-3: #383838;

$black: #000000;

$violet: #1e1037;
$violet-1: #9433ee;

$yellow: #fff969;

$red: #e82328;
$red-1: #ff6969;

$green: #37a85f;
$green-1: #7aff69;

$blue-light: #5fc8ef;
$brand-blue: #b1eaff;
$blue-link: #5fc8ef;
$blue-link-hover: #23b2e6;

$brand-violet: #a019f7;
