$time-transition: 0.2s;
$primary-font: 'Ubuntu',
sans-serif;
$second-font: 'Open Sans',
sans-serif;
$neuzeit-grotesk-condensed: 'neuzeit-grotesk-extra-conden',
sans-serif;

$container-width: 163.5rem;
$container-space-xs: 3.7rem;
$container-space-md: 3.7rem;

$body-padding-top: 16rem;
$body-mobile-padding-top: 12rem;
$popup-width: 128rem;